<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX PAGE</title>
  </head>
  <body>
    <h1>This is the main page</h1>
    <br>
    <a href="/contacts">Visit our contacts page</a>

  </body>
</html>
